<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp_application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Skincare Studio"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".UpdateUserInfoActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".OrderConfirmationLayout" />
        <activity android:name=".OTP_Verification_Activity" />
        <activity android:name=".RegsiterActivity" />
        <activity android:name=".ViewAllActivity" />
        <activity
            android:name=".AddAdressActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".MyAddressActivity" />
        <activity android:name=".OrderDetailsAcitivty" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".navigationbar"
            android:label="@string/title_activity_navigationbar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>